body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#canvas {
    background: #322;
    width: 500px;
    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
#canvas:active {
    cursor: pointer;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
